[submodule "thirdparty/Bolero"]
	path = thirdparty/Bolero
	url = https://github.com/42WASD/Bolero.git
[submodule "thirdparty/Bolero-Template"]
	path = thirdparty/Bolero-Template
	url = https://github.com/42WASD/Bolero-Template.git
[submodule "thirdparty/radzen-blazor"]
	path = thirdparty/radzen-blazor
	url = https://github.com/42WASD/radzen-blazor.git
[submodule "thirdparty/IoskeleyMono"]
	path = thirdparty/IoskeleyMono
	url = https://github.com/42WASD/IoskeleyMono.git
